################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Shamrock.NET/obj
/.vs/Shamrock.NET/v17/.suo
/.vs/Shamrock.Net/v17/.wsuo
/.vs/Shamrock.Net/FileContentIndex
