################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/ShamrockCore/v17
/.vs
/.idea
/ShamrockCore/bin/**
/ShamrockCore/obj/**
/ShamrockCore.Test
/ShamrockCore.Test/**
/UniBot/bin/**
/UniBot/obj/**
/UniBot.Test/bin/**
/UniBot.Test/obj/**