################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/ShamrockCore/v17
/.vs
/ShamrockCore/bin/Debug/net8.0
/ShamrockCore/obj
/ShamrockCore.Test/bin/Debug/net8.0
/ShamrockCore.Test/obj
/ShamrockCore.Test/obj/Debug/net8.0/ref/ShamrockCore.Test.dll
